<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cody_c_pagecodystyle6">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cody On Weather"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:background="#FFFFFF"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cody_C_pagecodystyle6">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
